<div class = "bg">
<h3>Login to Bluedit</h3>
  <div class="btn">
          <button type="button" class="btn btn-block" (click)="tryGoogleLogin()">
              <i class="fa fa-google" aria-hidden="true"></i>
              Login with Google
          </button>
  </div>
  <div>
    <button onClick="window.location.href = 'https://github.com/mattig3090/Reddit_Project';">Check out our Github</button>
  </div>
  <div>
    <button onClick="window.location.href = 'https://github.com/mattig3090/Reddit_Project/blob/master/README.md';">Check out the README</button>
  </div>
                  <!--<p>Sign in / Sign up with your google account. We will never post anything on your behalf.</p>-->

</div>