<div class = "bg">
<h3>Login to Bluedit</h3>
  <div class="btn">
          <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
              <i class="fa fa-google" aria-hidden="true"></i>
              Login with Google
          </button>
  </div>
                  <!--<p>Sign in / Sign up with your google account. We will never post anything on your behalf.</p>-->
                  <div>
                    <button type="button" (click)="skipToNextPage()">Continue</button>
                  </div>
</div>