 
    
    <body>
    <div *ngIf="thePost"> 
        <h1>{{nameOfPoster}} Wants Talk About {{thePost.title}}</h1>
        <div *ngIf = "commentList.length > 0" id = "loc">
            <h5>Comments:</h5>
            <ol>
                <li *ngFor = "let listitem of commentList">
                    {{listitem.comment}}
                </li>
            </ol>
        </div>
        <div id = "comment">
                <label>Comment:
                    <input [(ngModel)] = "newCommentText" id="mycomment" placeholder="Whats on your mind?"/>
                </label>
                <button type = "button" id = "comment" (click) = "addComment()">Leave a comment!</button>
        </div>
        <div id = "like">
        <I>Like the post? Then consider smashing the like button! (Not currently implemented, waiting on Matt)</I>
        <button (click) = "onLike()">
            Like
        </button>
        </div>
    </div>
    </body> 

