<div *ngIf="user">
<h3>Welcome 2 Bluedit, the backpage of the internet.</h3>
<div id = "posting">
        <label>POST:
            <input [(ngModel)] = "postname" placeholder="Whats on your mind?"/>
        </label>
        <button type = "button" id = "post" (click) = "createPost()">POST 2 BLUEDIT!</button>
</div>
<!-- lop = List of posts -->
<div *ngIf = "postlist.length > 0" id = "lop"> 
        <h1> Recent Posts </h1>
        <ol class = "LandingPageComponent">
            <li *ngFor="let post of postlist" (click)="onSelectPost(post)">
                {{post[1].title}} <!--this is lukely to break... looks kinda sketchy-->
            </li>
        </ol>
    </div>

</div>
<div *ngIf="!user">
    <h1>You are not logged in, please go back to the homepage</h1>
</div>

